<table class="table movietable">
    <tr>
        <td><h3>Details for {{pet.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Pet Category</td>
        <td>{{pet.categoryS}}</td>
    </tr>
    <tr>
        <td>img</td>
        <td><img ng-src="{{pet.img}}" height="100" width="auto" /></td>
    </tr>
    <tr>
        <td>Pet Type</td>
        <td>{{pet.petType}}</td>
    </tr>
    <tr>
        <td>Pet Status</td>
        <td>{{pet.status}}</td>
    </tr>
</table>
<!--<div>
    <a class="btn btn-primary" ui-sref="editPet({id:pet.petId})">Edit</a>
</div>-->
